.content[open]{
    margin: auto;
    padding: auto;
    font-family: 'Wellfleet', monospace;
    border-radius: 10px;
    box-shadow: 0px 0px 100px #809ca3;
    z-index: 3000;
    background-color: #e3f3f7;
    max-height: 90vh;
    max-width: 730px;
    animation: fade 0.5s ease-in-out normal;
    cursor: default;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.player{
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;
}

.overflow{
    max-height: 300px;
    overflow-y: scroll;
}

.content p{
    font-size: 25px;
    text-align: center;
    text-wrap: balance;
    color: #6b5d38;
}

.content h1{
    text-align: center;
    font-size: 32px;
    padding: 10px;
    color: #1f4d79;
}

span{
    display: inline-block;
}

.bigBold{
    font-weight: bold;
    font-size: 30px;
}

.poemHead{
    margin-bottom: 20px;
}

.center{
    display: inline-block;
    width: 100%;
    text-align: center;
}

/*Day 2*/
.content.contentDay2 p{
    font-size: 20px;
    text-align: justify;
}

.content.contentDay2 img{
    position: static;
    display: inline;
    width: 400px;
    float: left;
    margin: 10px;
}

.content.contentDay2 .player video{
    width: 100%;
}

.main{
    margin: 20px;
}

/*Day 3*/
.content.contentDay3 p{
    font-size: 20px;
    text-align: justify;
}

.content.contentDay3 img{
    position: static;
    display: inline;
    width: 400px;
    float: left;
    margin: 10px;
}

.content.contentDay3 .player video{
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}