<<<<<<< HEAD
*{
    font-family: 'Anton', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
}

#wrapper{
    background-image: url("./images/Koko.png");
    background-position: center;
    background-size: contain;
}

.item{
    background-color: #b4deec;
}

=======
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
  }
  
  button.clickable {
    cursor: pointer;
  }
>>>>>>> 4470013e34f1227e3033cfa4d298a18a752ec7b4
