*{
  font-family: 'Anton', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 50px;
}

#wrapper{
  background-image: url("./images/Koko.png");
  background-position: center;
  background-size: contain;
  perspective: 1200px;
}

.item{
  background-color: #b4deec;
  cursor: pointer;
  transform-style: preserve-3d;
}

@keyframes openToLeft {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-105deg);
  }
}

@keyframes openToDown {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-130deg);
  }
}

@keyframes openToDouble {
  /*Majd html meg lesz akkor jön ez*/
}

.small.opened{
  transform-origin: left;
  animation: openToLeft .5s ease-in-out forwards;
}

.medium.opened{
  transform-origin: bottom;
  animation: openToDown .5s ease-in-out forwards;
}

.large.opened{
  /*Majd*/
}