.content[open]{
    margin: auto;
    font-family: 'Wellfleet', monospace;
    border-radius: 10px;
    box-shadow: 0px 0px 100px #809ca3;
    z-index: 3000;
    background-color: #e3f3f7;
    max-height: 95vh;
    max-width: 730px;
    animation: fade 0.5s ease-in-out normal;
    cursor: default;
}

.credit{
    width: 100%;
    color: #315b84;
    font-size: 20px;
    text-align: center;
    padding: 30px 10px 10px 10px;
}

iframe{
    width: 150%;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.player{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;
}

.overflow{
    max-height: 350px;
    overflow-y: scroll;
}

.content p{
    font-size: 25px;
    text-align: center;
    text-wrap: balance;
    color: #6b5d38;
}

.content h1{
    text-align: center;
    font-size: 32px;
    padding: 10px;
    color: #1f4d79;
}

/*Don't... just don't even ask me about these lines*/
.bigBold{
    font-weight: bold;
    font-size: 30px;
}

.poemHead{
    margin-bottom: 20px;
}

.center{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.smaller{
    font-size: 25px;
}

.spacingY{
    padding-block: 10px;
}

.mobileVid{
    width: 50%;
}

.bold{
    font-weight: bold;
}

.block{
    display: block;
}

.main{
    margin: 20px;
}

.imgLarger img{
    width: 70% !important;
}

.imgSmaller img{
    width: 40% !important;
}
/*Don't*/

.content .imgHolder2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content .imgHolder2 img{
    width: 100%;
}

/*Day 2*/
.content.contentDay2 p{
    font-size: 20px;
    text-align: justify;
}

.content.contentDay2 img{
    display: inline;
    width: 70%;
    float: left;
    margin: 10px;
}

/*Day 3*/
.content.contentDay3 p{
    font-size: 20px;
}

/*Day7*/
.content.contentDay7 .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Day8*/
.content.contentDay8 img
{
    position: static;
    width: 90%;
}

.content.contentDay8 ul{
    font-size: 20px;
    padding-left: 30px;
    color: #6b5d38;
}

.content.contentDay8 ul li{
    padding-block: 10px;
}

@media (width < 800px) {
    .content[open]{
        max-height: 70vh;
    }

    .overflow{
        max-height: 280px;
        overflow-y: scroll;
    }

    .content.contentDay5 .main p{
        font-size: 15px;
    }

    .content .imgHolder2 img{
        width: 70% !important;
    }

    .content h1{
        font-size: 25px;
    }
    
    .content p{
        font-size: 20px;
    }

    .credit{
        font-size: 15px;
    }
}

@media (width > 600px) {
    iframe{
        height: 300px;
    }
}

@media (width < 350px) {
    .content .imgHolder2 img{
        width: 100% !important;
    }
}